body {
    margin: 0px;
    font-size: medium;
    font-family: monospace;
}

#profile-pic {
    height: 10%;
    width: 10%;
    border-radius: 50%;
}

h1 {
    margin-top: 0px;
}

header {
    display: block;
    margin: 28px 28px 15px 28px;
}

#header-text {
    margin-top: 0px;
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

#learning {
    padding: 15px 0px 0px 0px;
    margin: 10px 0px;
}

h2 {
    margin: 20px;
}

li {
    margin: 25px 20px;
}

#icons {
    margin-left: 30px;
}

i {
    text-decoration: none;
    color: black;
}

p {
    margin: 20px 50px;
}

#contato {
    margin: 2em 30em;
    font-family: 'Orbitron', sans-serif;
}

#contato-link {
    text-decoration: none;    
    color: black;
}
